/*Custom CSS*/


/*//////////////////////////////////////Custom Fonts////////////////////////////////////*/

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
}

@font-face {
    font-family: HelveticaLTStd-BlkCond;
    src: url(fonts/HelveticaLTStd-BlkCond.otf);
}

@font-face {
    font-family: HelveticaLTStd-LightCond;
    src: url(fonts/HelveticaLTStd-LightCond.otf);
}

#blocker2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*#instructions {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}
*/

h2 {
    text-transform: uppercase;
    font-family: 'HelveticaLTStd-BlkCond';
    font-size: 1.2em;
    letter-spacing: 0.03rem;
    margin-bottom: 2.4rem;
}

.clearfix {
    clear: both;
}


/*//////////////////////////////////////Landing Screen////////////////////////////////////*/

#landing {
    display: none;
}

#dual-logo {
    margin: 0 auto;
    max-width: 150px;
    display: block;
    padding-top: 25px;
    padding-bottom: 45px;
}

.centered-text {
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-family: 'HelveticaLTStd-LightCond';
}

.centered-text h1 {
    font-family: 'HelveticaLTStd-BlkCond';
    text-transform: uppercase;
    font-size: 2.3em;
    letter-spacing: 0.1rem;
}

.centered-text p {
    font-family: 'HelveticaLTStd-LightCond';
    margin-bottom: 5%;
}

#loading {
    width: 126px;
    margin: 0 auto;
    display: block;
    padding-top: 5px;
    color: #222;
    font-family: 'HelveticaLTStd-BlkCond';
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #fff;
}

/* media queries for landing screen -- iPhone 4 and smaller */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { 
    #dual-logo {
        max-width: 110px;
    }

    .centered-text h1 {
        font-size: 1.9em;

    }

}

/* media queries for landing screen -- Larger than tablet */

@media (min-width: 750px) {
    #dual-logo {
        max-width: 180px;
    }

    .centered-text h1 {
        font-size: 4.5em;
        margin-bottom: 0.1em;
    }

    .centered-text p {
        font-size: 1.5em;
        width: 50%;
        margin: 0 auto 2% auto;
        line-height: 1.5em;
    }

    .button {
        font-size: 26px;
        padding: 9px 30px 0px 30px;
        line-height: 4.2rem;
    }

    #loading {
        padding: 9px 30px 1px 30px;
        font-size: 26px;
    }
}


/*//////////////////////////////////////Internal Screen////////////////////////////////////*/

#internal {
    display: none;
}

#overlay {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    height: 100%;
}

#nav-full {
    margin-bottom: 20%;
}

#inner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 12px;
    min-height: 100%;
    height: 100%;
    position: relative;
}

.logo {
    max-height: 40px;
    margin-top: 10px;
    margin-right: 5px;
}

#instructions-text {
    margin-bottom: 5%;
}

div#nav-right {
    float: right;
    width: 119px;
    padding-top: 10px;
}

.nav-element {
    float: left;
}

#embed {
    font-size: 14px;
    padding: 3px 4px 0px 4px;
    margin-top: 3px;
    margin-left: 10px;
    border: none;
}

.menu-btn {
    height: 30px;
    width: 30px;
    margin-top: 7px;
    padding-right: 10px;
    background: url(images/menu.png) no-repeat;
}

.social {
    float: left;
    height: 30px;
    width: 30px;
    display: block;
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#facebook {
    background-image: url(images/facebook.png);
}

#instagram {
    background-image: url(images/instagram.png);
}

#twitter {
    background-image: url(images/twitter.png);
}


.model {
    text-align: left;
}

.model h2 {
    margin-bottom: 0.8rem;
    float: left;
}

.close-x {
    font-family: 'HelveticaLTStd-BlkCond';
    cursor: pointer;
    font-size: 1.3em;
    line-height: 1;
    float: right;
}

#embed-box { 
    background-color: #fff;
    color: #222;
    padding: 25px;
    border-radius: 5px;
    display:none; 
}

#embed-box a {
    color: #222;
}

#embed-box p, textarea {
    color: #999;
    font-family: 'Helvetica Neue';
    font-size: 0.8em;
    width: 100%;
}

#embed-code {
    width: 100%;
    height: 102px;
}

#site-footer {
    position: absolute;
    bottom: 0;
    right: 0;
}

.credits-text {
    margin: 0 auto;
    color: #fff;
    display: none;
}

.credits-text p {
    font-size: 1em;
    width: 100%;
}

.footer-button {
    font-family: 'Helvetica Neue';
    color: #999;
    text-transform: uppercase;
    font-size: 0.7em;
    margin-right: 10px;
    cursor: pointer;
    float: right;
}

#credits a {
    font-size: 1.6em;
    line-height: 0.8;
}

#enter {
    cursor: pointer;
}

#additional-about {
    display: none;
}

/* Media queries for landing screen -- Larger than tablet */

@media (min-width: 750px) {
    .logo {
        max-height: 70px;
    }
    #embed {
        font-size: 20px;
        padding: 7px 20px 0px 20px;
        line-height: 3rem;
    }
    div#nav-right {
        width: 178px;
        margin-top: 10px;
    }
    .social {
        margin-right: 5px;
        margin-top: 6px;
    }

    #instructions {
        margin: 0 auto;
    }

    #instructions-text {
    margin-bottom: 2%;
}

    #nav-full {
        margin-bottom: 10%;
    }

    #embed-box {
        width: 500px;
    }

    .model {
        width: 500px;
    }
}